[Desktop Entry]
Categories=Library
Comment=Qup
Exec=/opt/qup/qup.sh
GenericName=Qup
Icon=/opt/qup/qup.png
Name=Qup
StartupNotify=true
Terminal=false
Type=Application
